<div ngbDropdown class="d-inline-block">
  <button
    type="button"
    class="btn btn-outline-primary menu-button"
    id="dropdownMenu"
    ngbDropdownToggle
  >
    <fa-icon icon="bars"></fa-icon>
    <span class="mx-2">Menu</span>
  </button>

  <div ngbDropdownMenu aria-labelledby="dropdownMenu" class="nested-dropdown">
    <button ngbDropdownToggle class="btn mobile-menu">
      <fa-icon icon="times"></fa-icon>
    </button>
    <app-ndm-item *ngFor="let item of items" [item]="item"></app-ndm-item>
  </div>
</div>
